h1{
   color: #08123E; 
   text-align: center;
}
.contenedoropiniones .seccion_opinion{
background-color: rgba(101, 105, 124, 0.2);
margin: 1rem;
padding: 1rem;
text-align: center;
position: relative;
border: .1rem solid rgba(0, 0, 0, 0.2);
box-shadow: 0,5rem,1rem, rgba(0,0,0,0.1);
flex: 1 1 40rem;
border-radius: .5rem;
}
.contenedoropiniones .seccion_opinion .cliente img{
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;

}
.contenedoropiniones .seccion_opinion .cliente h3{
    color: #08123E;
    font-size: 2rem;
}

.contenedoropiniones .seccion_opinion .cliente .calificacion_estrellas i{
    color:#08123E;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.contenedoropiniones .seccion_opinion .cliente .comentario{
    color: #08123E;
    font-size: 1.5rem;
    padding: 1rem;
}

.contenedoropiniones .seccion_opinion{
    display: inline-block;
    size: 20%;
 /*   align-items: center;
    justify-content: center;
    flex-wrap: wrap;
*/}